[Unit]
Description= Flax Farmer starter
After=remote-fs.target network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=180
Type=forking
ExecStart=sh /home/usuario/chia-services/flax/farmer.sh
User=usuario
Restart=always  

[Install]
WantedBy=multi-user.target
