[Unit]
Description= Chaingreen Farmer starter
After=remote-fs.target network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 120
Type=forking
ExecStart=sh ~/chia-services/chaingreen/farmer.sh
User=usuario

[Install]
WantedBy=multi-user.target
