temp1="/media/usuario/plotter_02/"
temp2="/media/usuario/plotter_01/"
dests=(
"/media/usuario/plots_ext_01/"
"/media/usuario/plots_ext_02/"
"/media/usuario/plots_ext_03/"
"/media/usuario/plots_ext_04/"
"/media/usuario/plots_ext_05/"
"/media/usuario/plots_ext_06/"
"/media/usuario/plots_ext_07/"
"/media/usuario/plots_ext_08/"
"/media/usuario/plots_ext_09/"
"/media/usuario/plots_ext_10/"
"/media/usuario/plots_int_01/"
"/media/usuario/plots_int_02/"
)

rvar=4

fvar="<farmer public key>"
cvar="<pool contract address>"

minsize=110000
