[Unit]
Description= Chia Farmer starter
After=remote-fs.target network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStartPre=/bin/sleep 60
ExecStart=bash /home/usuario/chia-services/chia/farmer.sh
User=usuario

[Install]
WantedBy=multi-user.target
